# 578. Get Highest Answer Rate Question

Get the highest answer rate question from a table survey_log with these columns: 
uid, action, question_id, answer_id,q_num, timestamp.
uid means user id; action has these kind of values: “show”, “answer”, “skip”; answer_id is not null
when action column is “answer”, while is null for “show” and “skip”; q_num is the numeral order of the question in current
session.

Write a sql query to identify the question which has the highest answer rate.

Example:

Input:

uid	action	question_id	answer_id	q_num	timestamp
5	show	285	        null	     1	       123
5	answer	285	        124124	     1	       124
5	show	369	        null	     2	       125
5	skip	369     	null	     2	       126
Output:

survey_log
285
Explanation:
question 285 has answer rate 1/1, while question 369 has 0/1 answer rate, so output 285.

Note: The highest answer rate meaning is: answer number’s ratio in show number in the same question.

In [1]:
import pandas as pd
import re
import numpy as np
survey_log= pd.DataFrame({'uid':[5,5,5,5,5],'action':['show','answer','answer','show','skip'],'question_id':[285,285,285,369,369],
'answer_id':['null',124124,1266,'null','null'],'q_num':[1,1,1,2,2],'timestamp':[123,124,127,125,126]})
survey_log=survey_log[['uid','action','question_id','answer_id','q_num','timestamp']]
survey_log

   uid  action  question_id answer_id  q_num  timestamp
0    5    show          285      null      1        123
1    5  answer          285    124124      1        124
2    5  answer          285      1266      1        127
3    5    show          369      null      2        125
4    5    skip          369      null      2        126

In [2]:

p1=survey_log.groupby(by=['question_id','action']).size().to_frame('count') 
p2=p1.reset_index()
p2

   question_id  action  count
0          285  answer      2
1          285    show      1
2          369    show      1
3          369    skip      1

In [3]:
le=p2[p2['action']=='show']
le

   question_id action  count
1          285   show      1
2          369   show      1

In [4]:
rig=p2[p2['action']=='answer']
rig

   question_id  action  count
0          285  answer      2

In [5]:
pme=pd.merge(le,rig,on='question_id', how='left')
pme

   question_id action_x  count_x action_y  count_y
0          285     show        1   answer      2.0
1          369     show        1      NaN      NaN

In [6]:
pme = pme.replace('nan', np.nan).fillna(0)
pme

   question_id action_x  count_x action_y  count_y
0          285     show        1   answer      2.0
1          369     show        1        0      0.0

In [7]:
pme['rate']=pme['count_y']/pme['count_x']
pme

   question_id action_x  count_x action_y  count_y  rate
0          285     show        1   answer      2.0   2.0
1          369     show        1        0      0.0   0.0

In [9]:
output=pme[pme.rate==max(pme['rate'].tolist())]
output.rename(columns={'question_id':'survey_log'},inplace=True)
output

C:\Users\wenfe\Anaconda3\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

   survey_log action_x  count_x action_y  count_y  rate
0         285     show        1   answer      2.0   2.0

In [10]:
print(output[['survey_log']].to_string(index=False))

survey_log
       285