# 183. Customers who never order

Suppose that a website contains two tables, the Customers table and the Orders table. 
Write a SQL query to find all customers who never order anything.

Table: Customers.

+----+-------+
| Id | Name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Table: Orders.

+----+------------+
| Id | CustomerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Using the above tables as example, return the following:

+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |

In [1]:
import pandas as pd
Customers = pd.DataFrame({'Id':[1,2,3,4],'Name':['Joe','Henry','Sam','Max']})
Customers= Customers[['Id','Name']]
Customers

   Id   Name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [2]:
Orders= pd.DataFrame({'Id':[1,2],'CustomerId':[3,1]})
Orders= Orders[['Id','CustomerId']]
Orders

   Id  CustomerId
0   1           3
1   2           1

In [3]:
pm=pd.merge(Customers,Orders,how='left', left_on='Id', right_on='CustomerId')
pm

   Id_x   Name  Id_y  CustomerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [4]:
output=pm[pm['CustomerId'].isnull()][['Name']]
output

    Name
1  Henry
3    Max

In [5]:
print(output.to_string(index=False))

Name
Henry
  Max