# 585. Investments in 2016

Write a query to print the sum of all total investment values in 2016 (TIV_2016), to a scale of 2 decimal places,
for all policy holders who meet the following criteria:

Have the same TIV_2015 value as one or more other policyholders.
Are not located in the same city as any other policyholder (i.e.: the (latitude, longitude) attribute pairs must be unique).
Input Format:
The insurance table is described as follows:

Column Name	Type
PID	INTEGER(11)
TIV_2015	NUMERIC(15,2)
TIV_2016	NUMERIC(15,2)
LAT	NUMERIC(5,2)
LON	NUMERIC(5,2)
where PID is the policyholder’s policy ID, TIV_2015 is the total investment value in 2015, TIV_2016 is the total investment 
value in 2016, LAT is the latitude of the policy holder’s city, and LON is the longitude of the policy holder’s city.

Sample Input
PID	TIV_2015	TIV_2016  LAT	  LON
1	10     	    5	      10	  10
2	20	        20	      20	  20
3	10	        30	      20	  20
4	10	        40	      40	  40
Sample Output

TIV_2016
45.00

In [1]:
import pandas as pd
import re
import numpy as np
insurance= pd.DataFrame({'PID':[1,2,3,4],'TIV_2015':[10,20,10,10],'TIV_2016':[5,20,30,40],'LAT':[10,20,20,40],'LON':[10,20,20,40]})
insurance=insurance[['PID','TIV_2015','TIV_2016','LAT','LON']]
insurance

   PID  TIV_2015  TIV_2016  LAT  LON
0    1        10         5   10   10
1    2        20        20   20   20
2    3        10        30   20   20
3    4        10        40   40   40

In [7]:
in1=insurance.groupby('TIV_2015').size().to_frame('count').reset_index()
in1

   TIV_2015  count
0        10      3
1        20      1

In [31]:
in1[in1['count']>1].TIV_2015.tolist()

[10]

In [23]:
insurance['latlon'] = insurance['LAT'].astype(str) + insurance['LON'].astype(str)
insurance

   PID  TIV_2015  TIV_2016  LAT  LON latlon
0    1        10         5   10   10   1010
1    2        20        20   20   20   2020
2    3        10        30   20   20   2020
3    4        10        40   40   40   4040

In [29]:
in2=insurance.groupby('latlon').size().to_frame('cc').reset_index()
in2[in2['cc']>1].latlon.tolist()

  latlon  cc
1   2020   2

In [40]:
insurance.TIV_2015.isin(in1[in1['count']>=1].TIV_2015.tolist())

0    True
1    True
2    True
3    True
Name: TIV_2015, dtype: bool

In [42]:
insurance.latlon.isin(in2[in2['cc']==1].latlon.tolist())

0     True
1    False
2    False
3     True
Name: latlon, dtype: bool

In [44]:
output=insurance[(insurance.TIV_2015.isin(in1[in1['count']>=1].TIV_2015.tolist()))&(insurance.latlon.isin(in2[in2['cc']==1].latlon.tolist()))]
output

   PID  TIV_2015  TIV_2016  LAT  LON latlon
0    1        10         5   10   10   1010
3    4        10        40   40   40   4040

In [60]:
output.TIV_2016.sum(axis=0)

45

In [62]:
output.agg({'TIV_2016':[sum]})

     TIV_2016
sum        45