## leetcode 178 Rank Scores

Write a SQL query to rank scores. If there is a tie between two scores, both should have the same ranking. 
Note that after a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no “holes” between ranks.

+----+-------+
| Id | Score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
For example, given the above Scores table, your query should generate the following report (order by highest score):

+-------+------+
| Score | Rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |
+-------+------+

In [30]:
import pandas as pd
Scores = pd.DataFrame({'Id':[1,2,3,4,5,6],
                       'Score':[3.50,3.65,4.00,3.85,4.00,3.65]})
Scores

   Id  Score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [31]:
Scores.Score

0    3.50
1    3.65
2    4.00
3    3.85
4    4.00
5    3.65
Name: Score, dtype: float64

In [32]:
Scores.sort_values('Score', inplace = True,ascending=False) 
Scores

   Id  Score
2   3   4.00
4   5   4.00
3   4   3.85
1   2   3.65
5   6   3.65
0   1   3.50

In [33]:
Scores['Rank']=Scores['Score'].rank(method='dense',ascending=False).astype(int)

In [34]:
Scores

   Id  Score  Rank
2   3   4.00     1
4   5   4.00     1
3   4   3.85     2
1   2   3.65     3
5   6   3.65     3
0   1   3.50     4

In [35]:
output=Scores[['Score','Rank']]
output

   Score  Rank
2   4.00     1
4   4.00     1
3   3.85     2
1   3.65     3
5   3.65     3
0   3.50     4

In [36]:
output

   Score  Rank
2   4.00     1
4   4.00     1
3   3.85     2
1   3.65     3
5   3.65     3
0   3.50     4

In [37]:
output.style

output.style.hide_index()
#should work

In [ ]:
print(output.to_string(index=False))

In [ ]:
output.set_index('Score',inplace=True)
output