# 177. Nth Highest Salary

In [43]:
Employee_177 = pd.DataFrame({'Id':[4,5,6,7],
                             'Age':[24,35,26,30],
                             'Salary':[100,200,300,200]})
Employee_177.set_index('Id',inplace = True)
Employee_177

    Age  Salary
Id
4    24     100
5    35     200
6    26     300
7    30     200

In [44]:
newdf = Employee_177.sort_values('Salary',ascending = False)
print(newdf)
print(newdf.iloc[1])
print(newdf['Salary'][4])
print(newdf['Salary'][5])
print(newdf['Salary'][6])

    Age  Salary
Id
6    26     300
5    35     200
7    30     200
4    24     100
Age        35
Salary    200
Name: 5, dtype: int64
100
200
300

In [46]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    return newdf['Salary'].iloc[N-1]

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

200
200
300

In [42]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    return newdf.iloc[N-1,0]

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

100
200
300

In [69]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    newdf['Rank'] = newdf.Salary.rank(method='dense').astype(int)
    return set(newdf.loc[newdf['Rank'] == N].Age)

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

{26}
{35, 30}
{24}