# 574. Winning Candidate

Table: Candidate

+-----+---------+Candidate= pd.DataFrame({'id':[1,2,3,4,5],'Name':['A','B','C','D','E']})
Candidate=Candidate[['id','Name']]
Candidate
| id  | Name    |
+-----+---------+
| 1   | A       |
| 2   | B       |
| 3   | C       |
| 4   | D       |
| 5   | E       |
+-----+---------+  
Table: Vote

+-----+--------------+
| id  | CandidateId  |
+-----+--------------+
| 1   |     2        |
| 2   |     4        |
| 3   |     3        |
| 4   |     2        |
| 5   |     5        |
+-----+--------------+
id is the auto-increment primary key,
CandidateId is the id appeared in Candidate table.
Write a sql to find the name of the winning candidate, the above example will return the winner B.

+------+
| Name |
+------+
| B    |
+------+

In [1]:
import pandas as pd
import re
import numpy as np
Candidate= pd.DataFrame({'id':[1,2,3,4,5],'Name':['A','B','C','D','E']})
Candidate=Candidate[['id','Name']]
Candidate

   id Name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [2]:
Vote= pd.DataFrame({'id':[1,2,3,4,5],'CandidateId':[2,4,3,2,5]})
Vote=Vote[['id','CandidateId']]
Vote

   id  CandidateId
0   1            2
1   2            4
2   3            3
3   4            2
4   5            5

In [3]:
#myanswer

pme=pd.merge(Candidate,Vote,left_on='id',right_on='CandidateId', how='left')
pme = pme.replace('nan', np.nan).fillna(0)
pme.CandidateId=pme.CandidateId.astype(int)
pme.id_y=pme.id_y.astype(int)
p4=pme['Name'].value_counts().index.tolist()
p5=pme['Name'].value_counts().values.tolist()
output=pd.DataFrame({'Name':p4,'count':p5})
o1=output[output['count']==max(pme['Name'].value_counts().values.tolist())]
print(o1[['Name']].to_string(index=False))

Name
  B