# 196. Delete duplicate emails

Write a SQL query to delete all duplicate email entries in a table named Person,
keeping only unique emails based on its smallest Id.

+----+------------------+
| Id | Email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
Id is the primary key column for this table.
For example, after running your query, the above Person table should have the following rows:

+----+------------------+
| Id | Email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+

In [207]:
import pandas as pd
Person = pd.DataFrame({'Id':[1,2,3],'Email':['john@example.com','bob@example.com','john@example.com']})
Person= Person [['Id','Email']]
Person

   Id             Email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [210]:
Person['Email'].unique().tolist()
#Customers1[~Customers1.Id.isin(Orders1.CustomerId.tolist())]

['john@example.com', 'bob@example.com']

In [214]:
Person

   Id             Email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [215]:
Person[Person['Id']==2]

   Id            Email
1   2  bob@example.com

In [222]:
Person[~Person.Id.isin([2])]
#Customers1[~Customers1.Id.isin([1,2])]

   Id             Email
0   1  john@example.com
2   3  john@example.com

In [231]:
Person.groupby('Email')['Id'].min().tolist()

[2, 1]

In [233]:
Person[Person.Id.isin(Person.groupby('Email')['Id'].min().tolist())]

   Id             Email
0   1  john@example.com
1   2   bob@example.com

In [235]:
Person=Person[Person.Id.isin(Person.groupby('Email')['Id'].min().tolist())]
Person

   Id             Email
0   1  john@example.com
1   2   bob@example.com

In [236]:
print(Person.to_string(index=False))

Id             Email
 1  john@example.com
 2   bob@example.com

# 177 NthHighestSalary

In [ ]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    return newdf['Salary'].iloc[N-1]

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

In [ ]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    return newdf.iloc[N-1,0]

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

In [ ]:
import pandas as pd
newdf = Employee_177.sort_values('Salary',ascending = False)
print(newdf)
print(newdf.iloc[1])
print(newdf['Salary'][4])
print(newdf['Salary'][5])
print(newdf['Salary'][6])
newdf['Rank'] = newdf.Salary.rank(method='dense').astype(int)
print(newdf)
print(newdf[newdf['Rank'] == 2])
print(newdf.loc[newdf['Rank'] == 2])
subdf=(newdf.loc[newdf['Rank'] == 2])
print(subdf)
print(subdf.Age)

In [ ]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    newdf['Rank'] = newdf.Salary.rank(method='dense').astype(int)
    return (newdf.loc[newdf['Rank'] == N].Salary)

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

In [ ]:
def getNthHighestSalary(N):
    newdf = Employee_177.sort_values('Salary',ascending = False)
    newdf['Rank'] = newdf.Salary.rank(method='dense').astype(int)
    return set(newdf.loc[newdf['Rank'] == N].Age)

print(getNthHighestSalary(3))
print(getNthHighestSalary(2))
print(getNthHighestSalary(1))

## leetcode 178

In [ ]:
Scores = pd.DataFrame({'Id':[1,2,3,4,5,6],
                       'Score':[3.50,3.65,4.00,3.85,4.00,3.65]})
#Scores.set_index('Id',inplace = True)
Scores1=Scores.style.hide_index()
Scores1

In [ ]:
Scores.sort_values('Score',ascending = False).rank(method = 'dense')

In [ ]:
Scores['Rank'] = Scores['Score'].rank(method = 'dense',ascending = False).astype(int)

In [ ]:
newdf1 = Scores.sort_values('Rank',ascending = True)


newdf1[['Score']]=newdf1[['Score']].round(2)
a= newdf1[['Score','Rank']].style.hide_index()

In [ ]:
Scores['Rank'] = Scores['Score'].rank(method = 'min',ascending = False).astype(int)
newdf2 = Scores.sort_values('Rank',ascending = True)
newdf2[['Score','Rank']].style.hide_index()

In [ ]:
Scores['Rank'] = Scores['Score'].rank(method = 'first',ascending = False).astype(int)
newdf3 = Scores.sort_values('Rank',ascending = True)

newdf3[['Score','Rank']].style.hide_index()

## leetcode 180

In [ ]:
Log = pd.DataFrame({'Id':[1,2,3,4,5,6,7],
                    'Num':[1,1,1,2,1,2,2]})
a= Log.style.hide_index()
a

In [ ]:
pd.merge(Log,a,
         how = 'outer')

## leetcode 181 Employees Earning More Than Their Managers

In [ ]:
import numpy as np
import pandas as pd
Employee_181 = pd.DataFrame({'Id':[1,2,3,4],
                             'Name':['Joe','Henry','Sam','Max'],
                             'Salay':[70000,80000,60000,90000],
                             'ManagerId':[3,4,np.nan,np.nan]})
Employee_181

In [ ]:
newdf3 =pd.merge(Employee_181,Employee_181,left_on='Id',right_on='ManagerId', how='outer')
newdf3

In [ ]:
sub2=newdf3.loc[(newdf3['Id_x']==newdf3['ManagerId_y'])]
print(sub2)
#sub2[sub2['Salay_x']<sub1['Salay_y']]

In [ ]:
sub2[sub2['Salay_x']<sub2['Salay_y']]

In [ ]:
sub2[sub2['Salay_x']<sub2['Salay_y']].Name_y

In [ ]:
set(sub2[sub2['Salay_x']<sub2['Salay_y']].Name_y)