# 182. Duplicate Emails

Write a SQL query to find all duplicate emails in a table named Person.

+----+---------+
| Id | Email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
For example, your query should return the following for the above table:

+---------+
| Email   |
+---------+
| a@b.com |
+---------+

In [1]:
import pandas as pd
Person = pd.DataFrame({'Id':[1,2,3],'Email':['a@b.com','c@d.com','a@b.com']})
Person= Person [['Id','Email']]
Person

   Id    Email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [2]:
Person.groupby('Email').filter(lambda g: len(g) > 1).groupby('Email').size()

Email
a@b.com    2
dtype: int64

In [ ]:
outpu

In [3]:
output = output.to_frame()
output

NameError: name 'output' is not defined

In [ ]:
output.reset_index(inplace=True)
output

In [ ]:
output[['Email']]

In [ ]:
print(output[['Email']].to_string(index=False))